.recipe {
    border-radius: 10px;
    box-shadow:10px 15px 25px darkgrey;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: white;
    align-items: center;
    min-width: 25%;
}

.image {
    border-radius: 20%;
    width: min-content;
}

.list {
    max-width: 400px;
}